<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div align="center">
		<h1>List Demo</h1>
		<a href="new">Create New Demo</a> <br>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="demo : ${listDemo1}">
					<td th:text="${demo.id}">Demo ID</td>
					<td th:text="${demo.name}">Demo Name</td>
					<td th:text="${demo.phone}">Demo Phone</td>
					<td>
						<a th:href="@{'/edit/' + ${demo.id}}">Edit</a>
					</td>
					<td>
						<a th:href="@{'/delete/' + ${demo.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>